:host {
  border: 1px solid blue;
  height: 2rem;
  display: block;
  text-align: center;

  &.active {
    background-color: red;
  }

  &.disabled {
    background-color: #ccc;
    color: #666;
  }
}
